:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --background-color: #188ce8;
  --main-color: #212121;
  --second-color: #ffffff;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: #757575;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__header {
  margin-right: 0;
}

.logo_theme_color {
  color: var(--accent-color);
}

.logo__footer {
  margin-bottom: 20px;
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--second-color);
  fill: #afb1b8;
}

.social-list__link:hover, .social-list__link:focus {
  fill: var(--second-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.join {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
    margin-bottom: 0;
    text-align: inherit;
  }
}

.join__icon {
  fill: var(--second-color);
}

.join__list {
  display: flex;
  justify-content: center;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: block;
  text-align: center;
}

.footer-form__head {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__head {
    text-align: start;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--second-color);
}

.footer-form__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-form__btn {
  padding: 10px 29px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin-left: 12px;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 4px;
  fill: var(--second-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
  transition-duration: 500ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--second-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.close-btn__icon {
  width: 18px;
  height: 18px;
}

.close-btn__icon:hover, .close-btn__icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}

@media screen and (min-width: 480px) {
  .modal-form__head {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__head {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__massage {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__massage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__massage::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__accept::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.modal-form__checkbox:checked + .modal-form__accept::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form__checkbox:focus + .modal-form__accept::before {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__accept {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 7px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 340px) {
  .modal-form__accept {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__accept {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__link {
  font-size: 7px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 340px) {
  .modal-form__link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 55px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__box {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-right: 84px;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: #000000;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn__icon:hover,
.burger-btn__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
}

.mobile-menu__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
}

.mobile-menu__icon:hover,
.mobile-menu__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.nav-list {
  margin-bottom: 200px;
}

.nav-list__item {
  margin-bottom: 32px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

@media screen and (min-width: 380px) {
  .nav-list__link {
    font-size: 40px;
  }
}

.nav-list__link.current {
  color: var(--accent-color);
}

.contact {
  margin-bottom: 64px;
}

.contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact__link.current {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 380px) {
  .contact__link.current {
    font-size: 34px;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
}

@media screen and (min-width: 380px) {
  .contact__link {
    font-size: 24px;
  }
}

.social-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

@media screen and (min-width: 410px) {
  .social-menu {
    flex-direction: row;
  }
}

.social-menu__item {
  position: relative;
  margin-bottom: 8px;
}

@media screen and (min-width: 410px) {
  .social-menu__item {
    margin-right: 20px;
  }
}

.social-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 410px) {
  .menu-line::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    width: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.menu__link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link.current {
  color: var(--accent-color);
}

.menu__link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 29px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__contact-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contact-list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: flex;
    flex-direction: row;
  }
}

.header__contact-item:not(:last-child) {
  margin-right: 30px;
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.header__contact-link:hover, .header__contact-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__contact-link {
    padding: 0;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 480px;
  padding: 118px 0;
  margin: 0 auto;
  background-position: center;
  align-items: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.jpg);
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desctop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desctop@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.modal-btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.features__container {
  text-align: center;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features__text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
    padding-top: 0;
  }
}

.work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.work__list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.work__subtitle {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--second-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team__img {
  width: 100%;
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding: 30px 32px;
  }
}

.team__player {
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team__position {
  margin-bottom: 16px;
  text-align: center;
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.client__title {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  width: calc((100% - 2 * 30px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
  align-items: center;
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.footer__address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: inherit;
    margin-right: 70px;
  }
}

.footer__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.address__map {
  margin-top: 20px;
  margin-bottom: 9px;
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.address__list {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__mail {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__mail:hover, .address__mail:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__tel:hover, .address__tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter__menu {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__menu {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-top: 15px;
  margin-left: 8px;
}

.filter__btn {
  background-color: #f5f4fa;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
}

.filter__btn.current {
  text-align: center;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--second-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.gallery__item:hover,
.gallery__item:focus {
  background-color: var(--second-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link {
  display: block;
}

.gallery__wrapper {
  position: relative;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 63px 24px;
  overflow: hidden;
  transform: translatey(105%);
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__link:hover .overlay,
.gallery__link:focus .overlay {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__img-container {
  padding: 20px 24px;
  background: var(--second-color-title);
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery__subtitle {
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.gallery__text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */