.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__title {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  @include font(14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: var(--second-color);
}

.address__map {
  margin-top: 20px;
  margin-bottom: 9px;

  font-family: var(--main-font);
  font-style: normal;
  @include font(14px, 1.71, 0.03em);
  color: var(--second-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__mail {
  font-family: var(--main-font);
  @include font(14px, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.address__tel {
  font-family: var(--main-font);
  @include font(14px, 1.71, 0.03em);

  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
