.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  @include font(26px, 1.19, 0.03em);

  color: #000000;

  &__header {
    margin-right: 93px;
  }

  &_theme_color {
    color: var(--accent-color);
  }

  &__footer {
    margin-bottom: 20px;
    color: var(--second-color);
  }
}
