.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--second-color);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.close-btn__icon {
  width: 18px;
  height: 18px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
