.modal-form-btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 10px 55px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  @include font(16px, 1.88, 0.06em);

  color: var(--second-color);

  &:hover,
  &:focus {
    background-color: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
