.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__massage {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    @include font(14px, 1.14, 0.01em);

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__accept::before {
  content: '';
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.modal-form__checkbox:checked + .modal-form__accept::before {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form__checkbox:focus + .modal-form__accept::before {
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__accept {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  @include font(14px, 1.71, 0.03em);
}

.modal-form__link {
  @include font(14px, 1.71, 0.03em);
  color: var(--accent-color);
}
